*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1921px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: black;
}

  /*header*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infologo {
  margin: 29px 5px;
}
.titlelogo{
  font-size: 27px;
  padding: 0 21px;
}

.linksline {
  font-size: 13px;
  color: black; 
  text-decoration: none;
}
/*.menu  a:first-child {
  color: #4285F4;
}*/


  /*1 блок*/
.carousel-inner {
  position: relative;
}
.carousel {
  display: none;
}
.img-carousel {
  width: 100%;
}
.text {
  color:white;
  font-size: 72px;
  position: absolute;
  text-align: center;
  left: 15%;
  right: 15%;
  top: 28%;
}
.subtext {
  color:white;
  font-size: 36px; 
  position: absolute;
  text-align: center;
  left: 15%;
  right: 15%;
  top: 40%;
}
.btnn-nav {
  display: flex;
  position: absolute;
  top: 50%;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.btnn-prev {
  text-align: center;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 19px 74px 17px 74px;
}
.btnn-next {
  text-align: center;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 19px 70px 17px 69px;
}
.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 40%;
}
.prev, .next {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
}
.next {
  padding-right: 16px;
}
.prev {
 padding-left: 16px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.btn {
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 93%;
  width: 100%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: darkgrey;
  height: 17px;
  width: 17px;
}

  /*2 блок*/
.icons {
  display: flex;
  justify-content: center;
  padding: 86px 461px 99px;
}
.section {
  padding: 1px 9px 0;
  text-align: center;
}
.imageicons {
  display: flex;
  justify-content: center;
  margin: 0 40px;
}
.imgicons {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 151px;
 height: 151px;
 background: linear-gradient(45deg, #69D2F7, #c3b8fe);
 border-radius: 50%;
}
.two {
  background: #4285F4;
}
.iconstext {
  margin-top: 41px;
}
.titleicons {
  font-size: 18px;
}
.texticons {
  font-size: 14px;
  margin-top: 21px;
  line-height: 1.9;
}

  /*3 блок*/
.themebisness {
  background-color: rgb(209, 222, 230);
  position: relative;
}
.bisness {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bisnessblock {
  width: 50%;
}
.bisnesstext {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20%;
  margin: 0 0 209px 399px;
}
.titlebisness {
  font-size: 36px;
}
.linebisness {
  display: flex;
}
.textgrey {
  color: #999999;
  font-size: 18px;
  line-height: 1.5;
  margin: 30px 0 0 2px;
}
.textblack {
  font-size: 14px;
  line-height: 1.8;
  margin: 26px 0 0 2px;
}
.btnnbisness {
  background: blue;
  margin-top: 39px;
  display: inline-flex;
  align-items: center;
  border: blue solid;
  padding: 3px 75px 3px 70px;
}
.strbisness {
  color: white;
  font-size: 14px;
}
.figure {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 1px;
  border-left: 20px solid transparent;
	border-right: 20px solid transparent;
  border-bottom: 21px solid white;
}
.cardbisness {
  align-self: flex-end;
  margin-left: -23px;
  margin-top: 20px;
}  
.imgbisness {
    max-width: 100%;
}

  /*4 блок*/
.incognito {
  height: 98px;
  margin: 1px auto;
}

  /*5 блок*/
.portfolio {
  margin-top: 1px;
}
.titleportfolio {
   text-align: center;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
}
.textportfolio {
  font-size: 36px;
}
.subtextportfolio {
  color: #999999;
  font-size: 18px;
  margin: 30px 0 0;
  line-height: 1.5;
}
.fotoportfolio {
  display: flex;
  margin-bottom: 2px;
}
.fotoitems {
  width: 25%;
}
.imgportfolio {
    max-width: 100%;
}
.imgportfolio:hover {
  color: #999999;
}
  
  /*6 блок*/
.tape {
  display: flex;
  background-color: #82B440;
  justify-content: space-around;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 62px;
}
.texttape {
  font-size: 30px;
  color: #FFFFFF;
}
.btnntape {
  display: inline-flex;
  align-items: center;
  border: white solid;
}
.strtape {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  padding: 17px 75px;
}

  /*7 блок*/
.listicons {
  display: flex;
  padding: 77px 20px;
}

.normal {
display: flex;

}
.titlelist {
  font-size: 12px;
}
.listblock {
  justify-content: center;
}
.subtextlist {
  line-height: 2;
  font-size: 10px;
  color: #999999;
  /*margin-top: 21px;*/
}

  /*8 блок*/
.thememacbook {
  display: flex;
  background-color: rgb(209, 222, 230);
}
.macbookblock {
  margin: 101px 0 93px;
  width: 50%;
}
.macbooktext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 20%;
  margin: 111px 399px 116px 0;
}
.titlemacbook {
  font-size: 36px;
}
.linemacbook {
  display: flex;
}
.textgrey {
  color: #999999;
  font-size: 18px;
  line-height: 1.5;
  margin: 30px 0 0 2px;
}
.textblack {
  font-size: 14px;
  line-height: 1.8;
  margin: 26px 0 0 2px;
}
.btnnmacbook {
  background: blue;
  margin-top: 39px;
  display: inline-flex;
  align-items: center;
  border: blue solid;
  padding: 3px 75px 3px 70px;
}
.strmacbook {
  color: white;
  font-size: 14px;
}
.cardmacbook {
  align-self: flex-end;
}  
.imgmacbook {
  max-width: 100%;
}

  /*9 блок*/
.number {
  background-color: #1F252F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.green {
  border-top: 4px solid #9CE08D;
  color: #9CE08D;
  padding: 78px 0;
}
.blue {
  border-top: 4px solid #81B0FF;
  color: #81B0FF;
  padding: 78px 0;
}
.red {
  border-top: 4px solid #F47272;
  color: #F47272;
  padding: 78px 0;
}
.greenlite {
  border-top: 4px solid #AAE980;
  color: #AAE980;
  padding: 78px 0;
}
.purple {
  border-top: 4px solid #9F7BFB;
  color: #9F7BFB;
  padding: 78px 0;
}
.orange {
  border-top: 4px solid #FBB439;
  color: #FBB439;
  padding: 78px 0;
}
.titlenumber {
  font-size: 60px;
}
.textnumber {
  font-size: 18px;
  color: white;
}
.linenumber {
  width: 102px;
  height: 2px;
  margin: 0 auto 32px;
}

  /*10 блок*/
.parallax {
  background-color: #2A3036;
  opacity: 0.5019607843137255;
  height: 801px;
  position: relative;
} 
.parallaxblock {
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  top: 32%;
  margin: 0 20%;
  /*left: 21%;
  right: 21%;*/
  line-height: 1.46;
}
.titleparallax {
  font-size: 30px;
}
.lineparallax {
  margin-top: 49px;
}
.subtitleparallax {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 50px;
}
.textparallax {
  text-transform: uppercase;
}
.btnparallax {
  margin-top: 222px;
}

  /*11 блок параметры указанны минимальные надо попробовоть сделать адаптив*/
.services {
  display: flex;
 
  
  
}
.blackservices {
  background-color: #1F252F;
  
  
}
.blackblock {
 /* padding: 0 101px;*/
}

.titleblack {
  font-size: 36px;
  color: #FFFFFF;
  margin: 101px 0 0 0;
  
}
.lineblack {
  margin: 29px 0 0 0;
  
}

.subtitleblack {
  font-size: 18px;
  color: #B9B9B9;
  line-height: 1.5;
  margin: 30px 0 0 0;
  
 
}

.texttitle {
  font-size: 14px;
  color: #CCCCCC;
  line-height: 1.8;
  margin: 26px 0 0 1px;
 
 
 
}



.listblack {
  font-size: 14px;
  color: #CCCCCC;
  line-height: 2;
  list-style-type: disclosure-closed;
  margin: 31px 0 0 0;
  
  padding: 0 0 0 18px;
  
}
.btnnservices {
  background: blue;
  margin: 36px 0 82px 0;
  display: inline-flex;
  align-items: center;
  border: blue solid;
  padding: 3px 75px 3px 70px;
  

}
.strservices {
  color: white;
  font-size: 14px;
}
.whiteservices {
  text-align: center;
  
  
}
.sectionwhite {
  border: 1px solid gray;
  /*padding: 0 36px;*/
}
.imgservices {
  padding: 57px 0 0 0;
}
.titlewhite {
  font-size: 18px;
  color: #333333;
  margin: 15px 0 0 0;
}
.textwhite {
  font-size: 14px;
  color: #575757;
  line-height: 2;
  margin: 21px 0 0 0;
}
.linkswhite {
  font-size: 16px;
  font-weight: bold;
  color: #4285F4;
  margin: 29px 0 0 0;
  padding: 0 0 79px 0;
}

  /*Адаптив*/

@media (min-width: 1295px) and (max-width: 1456px) {
  .text {
    font-size: 64px;
  }
}
@media (min-width: 1093px) and (max-width: 1294px) {
  .text {
    font-size: 54px;
  }
}
@media (max-width: 1092px) {
  .text {
    font-size: 47px;
  }
}
@media (max-width: 1294px) {
  .btnn-prev {
    padding: 19px 50px 17px 50px;
  }
  .btnn-next {
    padding: 19px 45px 17px 44px;
  }
}
@media (min-width: 1702px) and (max-width: 1825px) {
  .bisnesstext {
   margin: 0 0 209px 337px;
  }
  .macbooktext {
    margin: 111px 337px 116px 0;
  }
}
@media (min-width: 1578px) and (max-width: 1701px) {
  .bisnesstext {
   margin: 0 0 209px 275px;
  }
  .macbooktext {
    margin: 111px 275px 116px 0;
  }
}
@media (min-width: 1454px) and (max-width: 1577px) {
  .bisnesstext {
   margin: 0 0 209px 213px;
  }
  .macbooktext {
    margin: 85px 213px 116px 0;
  }
}
@media (min-width: 1330px) and (max-width: 1453px) {
  .bisnesstext {
   margin: 0 0 176px 151px;
  }
  .macbooktext {
    margin: 65px 151px 116px 0;
  }
}
@media (min-width: 1230px) and (max-width: 1329px) {
  .bisnesstext {
   margin: 0 0 140px 101px;
  }
  .macbooktext {
    margin: 65px 101px 116px 0;
  }
  .btnnmacbook {
    margin-top: 23px;
    padding: 0 25px;
  }
}
@media (min-width: 1091px) and (max-width: 1229px) {
  .bisnesstext {
   margin: 0 0 140px 101px;
  }
  .macbooktext {
    margin: 65px 101px 116px 0;
  }
  .titlebisness {
    font-size: 30px;
  }
  .titlemacbook {
    font-size: 30px;
  }
  .textgrey {
    font-size: 17px;
    margin: 20px 0 0 0;
  }
  .textblack {
    font-size: 10px;
    margin: 18px 0 0 0;
  }
  .btnnmacbook {
    margin-top: 23px;
    padding: 0 25px;
  }
}
@media (max-width: 1090px) {
  .bisnesstext {
   margin: 0 0 80px 101px;
  }
  .macbooktext {
    margin: 65px 101px 116px 0;
  }
  .titlemacbook {
    font-size: 23px;
  }
  .titlebisness {
    font-size: 23px;
  }
  .textgrey {
    font-size: 14px;
    margin: 20px 0 0 0;
  }
  .textblack {
    font-size: 10px;
    margin: 18px 0 0 0;
  }
  .btnnbisness {
    margin-top: 23px;
    padding: 0 25px;
  }
  .btnnmacbook {
    margin-top: 20px;
    padding: 0 20px;
  }
  .textnumber {
    font-size: 16px;
  }
}
@media (max-width: 1125px){
  .texttape {
    font-size: 20px;
  }
  .strtape {
    padding: 10px 50px;
  } 
}
/*@media (min-width: 1461px) and (max-width: 1704px) {
  .listicons {
    padding: 71px 255px;
  }
}
@media (min-width: 1217px) and (max-width: 1460px) {
  .listicons {
    padding: 71px 133px;
  }
}
@media (max-width: 1216px) {
  .textlist {
    font-size: 10%;
  }
  
}*/

@media (min-width: 1244px) and (max-width: 1575px) {
  .parallaxblock {
    margin: 0 12%;
  }
}
@media (min-width: 1006px) and (max-width: 1243px) {
  .parallaxblock {
    margin: 0 3%;
  }
}
@media (max-width: 1005px) {
  .parallaxblock {
    margin: 0;
  }
}



















